{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
<h3 style="text-align:center">Login to your Account</h3>
<form action="" method="POST">
   <div style="margin:1.5rem 0;background-color: rgb(3, 124, 164);padding: 1.5rem;" class="form-group" >
   
       <label style="font-weight: bolder;font-family:sans-serif;color:rgb(238, 222, 222)" for="email">Email **</label>
       <input style="margin:1rem 0" type="email" class="form-control " name="email" id="email" 
       placeholder="Enter your Email..">      
       <label style="font-weight: bold;font-family:sans-serif;color:rgb(238, 222, 222)" for="pwd1">Password **</label>
       <input style="margin:1rem 0" type="password" class="form-control" name="pwd1" id="pwd1" 
       placeholder="Enter your Password...">            
   </div>
   <div class="d-flex justify-content-center">
    <button style="padding:.8rem 1.5rem; font-weight: bold;" type="submit" class="btn btn-primary ">Submit</button>
   </div>
</form>
{% endblock %}